<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <form action="/users/login" method="post" class="login-form">
        <h1>
            <img th:src="@{/imagee/logo1.png}" alt="">
            Login
        </h1>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <div class="form-actions">
            <button type="submit">Login</button>
        </div>
        <br>
        <div th:if="${param.error}" id="danger" class="alert alert-danger">
            Invalid username or password. Please try again.
        </div>
        <br>
        <hr style="color: black; width: 90%">
        <br>
        <a th:href="@{/users/forget}" style="color:darkblue; margin-left: 35%;" class="forgot-password">Forgot Password?</a>
        <br><br>
        <a th:href="@{/users/create}" style="color: darkblue; margin-left: 44%;" class="sign-up">Sign Up</a>
    </form>
</div>
</body>
</html>
